html, body {width:100%; height:100%; padding: 0; margin: 0;}
.cartodb-map { width: 100%; height:100%; height: 500px; background: black; }

/* Results */
#results-container {
	margin-top: 25em;
}

.result {
	margin-bottom: 100px;
}

.school-info {
	padding-bottom: 20px;
	border-bottom: 6px solid rgba(238, 238, 238, 1);
}

.school-info-intro {
	color: rgb(132, 132, 132);
	margin-top: 0.25em;
}
.school-info .field-label {
	font-weight: bold;
}

ul.school-details {
	list-style: none;
}

.school-details .school-website {
	/* keeps contact info grouped together */
	margin-bottom: 1em;
}

.school-name {
	/*font-size: 30px;*/
	font-weight: bold;
	/* border-bottom: 5px solid black; */
	text-decoration: underline;
	font-size: 63px;
	line-height: 70px;
	margin-top: 0.125em;
	margin-bottom: .5em;
}

.school-name a {
	color: white;
}

/* End results */

#type-selector {
	height: 100%;
	width: 100%;
	margin: 5em auto;
	/* background: rgb(214, 214, 231); */
	text-align: center;
}
#type-selector h2 {
	margin-bottom: 1em;
}

.block-address {
	margin-top: 25em;
}



/* Provide for narrow nav + content sections  */
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.header, .jumbotron, .footer, .school-info {
		max-width: 730px;
		margin-right: auto;
		margin-left: auto;
	}
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.leaflet-popup-content-wrapper {
	/* give a little transparency so we don't totally hide other markers. */
	background-color: rgba(255, 255, 255, 0.9);
}

.block-intro .btn {
	margin-top: 0.5em; /* vertically separate buttons on narrow screens */
}
