html, body {width:100%; height:100%; padding: 0; margin: 0;}
body { background-color: #39acc9; color: #3e3e3e;
	font-family: 'Source Sans Pro','Proxima Nova','Helvetica Neue',Helvetica,'Open Sans',Arial,sans-serif;
	font-weight: normal;
}
.header h3 {color: #f7f6f6;
	margin-top: 0.5em;
	padding-bottom: 0px;
	font-size: 34px;
}
.header .sitename {
	text-shadow: 0px 0px 1px rgb(55, 90, 99);
}
.org-logo img {
	height: 48px;
	vertical-align: baseline;
}
.block-intro input, .block-address input, .block-support select {
	font-weight: normal;
}
.container .jumbotron { background-color: #f7f6f6; border-radius: 0px; margin-bottom: 25em;}
.btn {
	border: none;
	border-radius: 0px;
	background-color: #d72d6c;
	color: white;
}
.btn:active, .btn:focus, .btn:hover {
	background-color: #39acc9;
	color: white;
}
.btn.working {
	background-color: grey;
}
.footer { margin-bottom: 1.5em; }
.footer p {color: #f7f6f6;}
.footer a {color: #f7f6f6; font-weight: bold;}
.footer a:hover {  text-decoration: none; border-bottom: 1px solid; }
.footer .fa-inverse {color:  #76BFD1;}
.footer .fa-stack {color: #f7f6f6;}
.footer .icon {
	position: relative;
	float: right;
	top: -5px;
	margin-left: .3em;
}
.footer a.icon:hover {
	border-bottom: none;
}

a .fa {
	-webkit-transition: all .33s ease;
	-moz-transition: all .33s ease;
	-ms-transition: all .33s ease;
	-o-transition: all .33s ease;
	transition: all .33s ease;
}

a:hover .fa-circle {
	color: #f7f6f6;
}
a:hover .fa-stack-1x {
	color: #39ACC9;
	font-size: 1.1em; // make the icons pop out a bit
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#map-container {
 margin-top: 25em;
}

.cartodb-map { width: 100%; height:100%; height: 500px; background: black; }

.leaflet-control .active-filter {
	 background-color: rgb(57, 172, 201);
}

.leaflet-control .active-filter:hover {
	background-color: rgb(25, 155, 186); /* slightly darker blue */
}

/* Results */
#results-container {
	margin-bottom: 50px;
}

#list-container {
}
.results-list li {
    list-style: none;
}
.results-list li.selected .btn {
    font-weight: bold;
    background-color: rgb(57, 172, 201);
}

.results-list .btn {
    width: 100%;
    text-align: left;
    margin-bottom: .5em;
    padding: 1em;
}

.results-list .school-distance {
	float: right;
	font-weight: lighter;
}
.jumbotron p {
	font-weight: normal;
}

.results-list .school-type {
	font-size: small;
	font-style: italic;
	font-weight: lighter;
}

@media (min-width: 980px) { /* desktop and up */
	.school-details-container {
		margin-right: 0px;
		margin-left: 0px;
	}
	.school-email a, .school-website a {
		font-size: small; /* so it fits in one line */
	}
}


#school-info-container {
    margin-top: -1em; padding-top: 1em; /* hack so that jumping here keeps part of the map in view */
}


.school-info {
	padding-bottom: 20px;
	border-bottom: 6px solid rgb(62, 62, 62);
	padding-right: 1.5em;
	padding-left: 1.5em;
	background: rgb(247, 246, 246);
}

.school-info-intro {
	color: rgb(132, 132, 132);
	margin-top: 0.25em;
}
.school-info .field-label {
	color: rgb(189, 239, 252); /* based on background blue but lighter for readability */
}
.expandable-text .body { display:none; }

.school-description .field-label {
	font-size: 25px;
	color: #d72d6c;
	font-weight: bolder;
}

ul.school-details {
	list-style: none;
	background: #7e7d7d;
	color: white;
	margin-top: 35px;
	padding: 1em;
	border-radius: 15px;
	height: 100%;
}

.school-details  a {
	color: white;
	/* text-decoration: underline; */
	border-bottom: 1px dotted rgb(225, 225, 225);
}
.school-details  a:hover {
	/*color: #deeef2;*/
	border-bottom: 1px solid white;
	text-decoration: none;
}

.school-details .school-website, .school-details .school-enrollment, .school-details .school-oshc {
	/* keeps similar info grouped together */
	margin-bottom: 1.5em;
}

.school-details .school-address a {
	margin-left: 0.5em;
}

.jumbotron h1 {
	font-weight: 200;
}
.school-details .school-support li {
	margin-left: 2em;
}
.school-support p.overview {
	margin: 1em 0 0 1em;
}

.school-details li {
	line-height: 1.75em;
}

.school-details .fa {
	margin-right: 0.5em;
	color: #7e7d7d;
}
.school-details .fa-inverse {
	color: white;
}

.school-name {
	font-size: 40px;
	font-weight: bold;
	color: #d72d6c;
	text-decoration: none;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

.school-name .icon {
	height: 65px;
	top: 12px;
	position: relative;
	margin-right: 5px;}

/* End results */

#type-selector {
	height: 100%;
	width: 100%;
	margin: 5em auto;
	/* background: rgb(214, 214, 231); */
	text-align: center;
}
#type-selector h2 {
	margin-bottom: 1em;
}

.block-address, .block-support {
	display: none;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, .styled-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px 0 20px 0;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}


.nearby-schools-control-toggle label {
	margin-right: 3.75em;
	padding-left: 0.25em;
	width: 142px;
}
.nearby-schools-control {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 1em;
	margin: 1em;
}
.nearby-schools-control a.close {
    width: 100%;
    font-weight: bold;
    color: black;
    background: rgba(152, 110, 110, 0);
    border-top: 1px solid rgb(146, 146, 146);
    padding-top: .25em;
}
.nearby-schools-control button.toggle-filters {
	background: none;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 15px;
	color: rgb(90, 90, 90);
	width: 2em;
	height: 2em;
}
.nearby-schools-control button.toggle-filters:hover {
    background: rgb(90, 90, 90);
    color: white;
    background: rgb(160,160,160);
}
.nearby-schools-control button.toggle-filters:focus {
    outline: none;
    border: 1px solid rgb(91, 157, 217);
}
.nearby-schools-control h1 {
	font-size: 14px;
	margin: 0;
}
.nearby-schools-control label[for=nearby-schools-type] {
	display: none;
}
#nearby-schools-type {
	width: 210px;
	margin: 0.5em 0 1em 0;
}

.nearby-schools-filter-explanation {
	font-style: italic;
	max-width: 16em;
	margin-bottom: 0.5em;
	margin-left: 10px;
}
.nearby-schools-filter-explanation:empty {
	margin: 0;
}

.nearby-schools-options {
	margin-top: 0.5em;
}
.nearby-schools-feature legend,
.nearby-schools-options legend {
    border-bottom: none;
    margin-bottom: 0.5em;
    font-size: 14px;
}
.nearby-schools-feature input[type="radio"],
.nearby-schools-options input[type="checkbox"] {
	margin: 0em 3px 0.25em 0;
}
input#nearby-girls {
	margin-left:1em;
}
.nearby-schools-options label {
	font-weight: normal;
}
.nearby-schools-feature label {
	font-weight: normal;
}


/* Provide for narrow nav + content sections  */
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.header, .jumbotron, .footer, .school-info {
		max-width: 730px;
		margin-right: auto;
		margin-left: auto;
	}
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.leaflet-popup-content-wrapper {
	/* give a little transparency so we don't totally hide other markers. */
	background-color: rgba(255, 255, 255, 0.9);
}

.block-intro .btn.school-level {
	margin-bottom: 0.5em; /* vertically separate buttons on narrow screens */
	width: 100%;
}
@media (min-width: 570px) { /* breaks at < 570px */
	.block-intro .btn.school-level {
		width: 42%; /* Make school level buttons equal width */
	}
}

.school-level-definition {
	font-size: 0.7em;
}


.new-search-btn-container {
	display: none; /* hidden until we have results */
	margin: 50px auto;
	max-width: 730px;
	margin-top: 25px;
}

.new-search-btn-container .fa-search {
	margin-right: 1em;
}

.new-search-btn-column {
	padding-right: 0;
}

.new-search.btn {
	display: block;
	padding: 2em;
	border: 1px solid rgba(255, 255, 255, 0.19);
	background-color: transparent;
}

.new-search.btn:hover {
    border: 1px solid white;
    background-color: transparent;
 	text-decoration: none;
}

.jumbotron #or {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	font-size: 21px;
}
.jumbotron p {
	font-size: 18px;
	margin-bottom: 1em;
}
.jumbotron p.lead {
	margin-bottom: 1em;
	margin-top: 1em;
}
.jumbotron .disclaimer {
	margin-top: 1em;
	margin-bottom: 0em;
	color: rgb(153, 153, 153);
}
.school-name-search {
	margin-right: 2em;
	margin-left: 2em;
}

@media only screen and (min-width: 980px) {
	.school-name {
		padding-left: 15px; /* to keep flush-left with column below */
	}
}

@media only screen and (max-width: 320px) {
	.sitename {
		font-size: 18px;
		padding-right: 0;
	}
	.org-logo img {
		height: 22px;
	}
}

@media only screen and (max-width: 767px) {

	.school-description .field-label { /* About */
		font-size: 20px;
	}
	#school-info-container .school-name {
		font-size: 30px;
	}
	#school-info-container .school-name .icon {
		height:  50px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	 /*and (orientation : portrait) */
	.cartodb-map {
		height: 310px;
	}
	.nearby-schools-control {
	    max-height: 310px;
	    overflow: auto;
	    overflow-x:hidden;
	}
	#nearby-schools-type {
		margin-bottom: 0.25em;
	}
	.nearby-schools-feature legend, .nearby-schools-options legend {
		margin-bottom: 0;
	}
	.leaflet-top .leaflet-control {
	    margin-top: 5px;
	}
	.leaflet-left .leaflet-control {
	    margin-left: 5px;
	}
	.leaflet-right .leaflet-control {
	    margin-right: 5px;
	}
}

/* prevent iphone from autozooming on form fields */
/* http://stackoverflow.com/a/9039885/1024811
   http://stackoverflow.com/a/16255670/1024811 */
.ios select:focus,
.ios textarea:focus,
.ios input:focus {
	font-size: 16px;
}
