html, body {width:100%; height:100%; padding: 0; margin: 0;}
.cartodb-map { width: 100%; height:100%; height: 500px; background: black; }

/* Results */
#results-container {
	margin-top: 25em;
}

.school-name {
	border-bottom: 10px solid black;
}
.school-info-intro {
	color: rgb(132, 132, 132);
	margin-top: 0.25em;
}
.school-info .field-label {
	font-weight: bold;
}

ul.school-details {
	list-style: none;
}

.school-name {
	font-size: 30px;
	font-weight: bold;
}

.school-name a {
	color: white;
}

/* End results */

#type-selector {
	height: 100%;
	width: 100%;
	margin: 5em auto;
	/* background: rgb(214, 214, 231); */
	text-align: center;
}
#type-selector h2 {
	margin-bottom: 1em;
}

.block-address {
	margin-top: 25em;
}



/* Provide for narrow nav + content sections  */
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.header, .jumbotron, .footer, .school-info {
		max-width: 730px;
		margin-right: auto;
		margin-left: auto;
	}
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
