html, body { width: 100%; height: 100%; padding: 0; margin: 0; }
body {
  background-color: #39acc9;
  color: #3e3e3e;
  font-family: 'Source Sans Pro', 'Proxima Nova', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
  font-weight: normal;
}

.header h3 {
  color: #f7f6f6;
  margin-top: 0.5em;
  padding-bottom: 0;
  font-size: 34px;
}
.sitename {
  text-align: right;
}
.sitename, .results-list .btn, .results-footer-btn, footer {
	text-shadow: 0 0 1px #375a63;
	text-shadow: 0 0 1px rgb(55, 90, 99);
}
.org-logo img {
	height: 48px;
	vertical-align: baseline;
}

.org-logo a:focus,
.results-footer-btn:focus,
.footer a:focus,
.school-details a:focus {
    box-shadow: 0 0 10px white; /* stand out against blue page background */
}

.block-intro input, .block-address input, .block-support select {
	font-weight: normal;
}
.container .jumbotron { background-color: #f7f6f6; border-radius: 0; margin-bottom: 25em; }
.btn {
	border: none;
	border-radius: 0;
	background-color: rgb(215, 45, 108);
	color: white;
}
.btn:active, .btn:focus, .btn:hover {
	background-color: #39acc9;
	color: white;
}
.btn:focus {
    outline: 2px dashed white;
}
.btn.working {
	background-color: grey;
}

/* if you want a random button to have a material box shadow effect, add the .material class */
/*
.btn.material {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn.material:hover,
.btn.material:focus
{
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
*/





.footer { margin-bottom: 1.5em; }
.footer p { color: #f7f6f6; }
.footer a {
    color: #f7f6f6;
    font-weight: bold;
    padding: 0 0.2em;
}
.footer a:hover { text-decoration: none; border-bottom: 1px solid; }
.footer .fa-inverse { color:  #76BFD1; }
.footer .fa-stack { color: #f7f6f6; }
.footer .icon {
	position: relative;
	float: right;
	top: -5px;
	margin-left: 0.3em;
}
.footer a.icon:hover {
	border-bottom: none;
}

a .fa {
	-webkit-transition: all 0.33s ease;
	-moz-transition: all 0.33s ease;
	-ms-transition: all 0.33s ease;
	-o-transition: all 0.33s ease;
	transition: all 0.33s ease;
}

a:hover .fa-circle {
	color: #f7f6f6;
}
a:hover .fa-stack-1x,
a:focus .fa-stack-1x {
	color: #375a63; /* use same as circle's text shadow for increased contrast */
	text-shadow: none;
}

#map-container {
 margin-top: 25em;
}

.map-legend {
    margin: 10px;
}

.cartodb-map { width: 100%; height:100%; height: 500px; background: black; }

.leaflet-control .active-filter {
	 background-color: rgb(57, 172, 201);
}

.leaflet-control .active-filter:hover {
	background-color: rgb(25, 155, 186); /* slightly darker blue */
}

.leaflet-control-zoom a:focus {
    background: rgb(57, 172, 201);
    border: 1px solid black;
    color: white;
}

.leaflet-control-attribution a:focus:not(:active),
.cartodb-logo a:focus:not(:active) img {
    background: rgb(57, 172, 201);
    outline: 1px dashed darkblue !important;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 1em;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.cartodb-logo a:focus:not(:active) img {
    padding: 0;
}

	a.popup-schoolname {
	    display: inline-block;
	    font-weight: bold;
	}
    	a.popup-schoolname:focus {
    	    outline: 1px dashed darkblue;
    	    margin: -3px 0;
    	    padding: 9px;
    	}

        /* prevent funny resize (from padding change) when activated (usually by mouse press) */
        a.popup-schoolname:focus:active {
            outline: none;
            padding: 0;
        }

        a.popup-schoolname:focus + .popup-meta {
            margin-top: 6px;
        }


/* Results */
#results-container {
	margin-bottom: 50px;
}

.results-list .btn {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
    padding: 1em;
}

    .results-list .btn span.school-type {
        display: block;
        /* buttons can contain phrasing content like <span> (and not flow content like <div>),
        but we want these spans to look like block elements */
    }


/* A quasi-radio button control with raised buttons inspired by Material Design. */
/* Unlike a radio button set, you use Tab (vs left/rigth/up/down) to change focus
   to the different buttons, and activating one of them changes view and then focus
   will shift to selected entry on the map.
   Hat tip to Andrea for coming up with the behavior / interaction between focused/hovered
   buttons and the previously selected button. */
.material-radio {
    margin-bottom: 0.5em;
}

    .material-radio .btn {
        transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        color: #333;
        text-shadow: none;
        background-color: transparent;
        margin-bottom: 0;
        /* margin: 0: buttons squished adjectly so when hover leaves one it'll enter another,
           preventing flash of .selected button */
    }

    .material-radio .btn:hover,
    .material-radio .btn:focus,
    .material-radio .btn.selected {
        font-weight: bold;
        color: white;
        background: rgb(57, 172, 201); /* blue */
    }
    .material-radio .btn.red:hover,
    .material-radio .btn.red:focus,
    .material-radio .btn.red.selected {
        background: rgb(215, 45, 108); /* red */
    }


    .material-radio .btn:hover,
    .material-radio .btn:focus {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
    .material-radio .btn:focus:not(:active) {
        outline: 2px dashed white;
    }

    /* .dimmer added w/ a bit of help from listview.js since CSS can't select backwards */
    /* general sibling ~ selector only goes forwards */
    /* .material-radio .btn:not(.selected):hover ~ .btn.selected.dimmer, */
    .material-radio .btn.dimmer {
      text-shadow: 0 0 1px #3a3a3a;
      background: rgb(154, 208, 213); /* ie8 non-RGBa fallback */
      background: rgba(57, 172, 201, 0.5); /* lighter blue */
    }
    .material-radio .btn.dimmer.red {
      background: rgb(233, 145, 167); /* ie8 non-RGBa fallback */
      background: rgba(215, 45, 108, 0.5); /* lighter red */
    }

.results-list .school-distance {
	float: right;
	font-weight: lighter;
}
.jumbotron p {
	font-weight: normal;
}

.results-list .school-type {
	font-size: small;
	font-style: italic;
	font-weight: lighter;
}

@media (min-width: 980px) { /* desktop and up */
	.school-details-container {
		margin-right: 0;
		margin-left: 0;
	}
	.school-email a, .school-website a {
		font-size: small; /* so it fits in one line */
	}
}


#school-info-container {
    /* margin/padding cancel each other out intentionally
       adjustment so that jumping here keeps part of the map in view */
    margin-top: -1em;
    padding-top: 1em;
}


.school-info {
	padding-bottom: 20px;
	border-bottom: 6px solid rgb(62, 62, 62);
	padding-right: 1.5em;
	padding-left: 1.5em;
	background: rgb(247, 246, 246);
}

.school-info-intro {
	color: rgb(112, 112, 112);
	color: #707070;
	margin-top: 0.25em;
}
.school-details .field-label {
	color: rgb(189, 239, 252); /* based on background blue but lighter for readability */
	text-shadow: 0 0 1px #3e3e3e;
	font-weight: bold;
}
.expandable-text .body { display:none; }

a.readmore {
	font-weight: bold;
	text-decoration: none;
	color: #717171;
}
.readmore span {
     margin-left: 4px;
}
.readmore-arrow:before {
     content: " \2192 ";  /* &rarr; is -> is \2192 */
     border-bottom: none;
     display: inline-block;
}
.readmore-text {
    border-bottom: 1px dotted;
}
.readmore-text:hover {
    border-bottom-style: solid;
}

.school-description .field-label {
	font-size: 25px;
	color: rgb(215, 45, 108);
	font-weight: bolder;
}

ul.school-details {
	list-style: none;
	background: #696767;
	color: white;
	margin-top: 35px;
	padding: 1em;
	border-radius: 15px;
	height: 100%;
}

.school-details a {
	color: white;
	/* text-decoration: underline; */
	border-bottom: 1px dotted rgb(225, 225, 225);
	padding: 0.1em;
}
.school-details a:hover {
	border-bottom: 1px solid white;
	text-decoration: none;
}

.school-details .school-website, .school-details .school-enrollment, .school-details .school-oshc {
	/* keeps similar info grouped together */
	margin-bottom: 1.5em;
}

.school-details .school-address a {
	margin-left: 0.5em;
}

.jumbotron h1 {
	font-weight: 200;
}
.school-details .school-support ul {
  margin-left: 1em;
  padding-left: 0;
}
.school-details .school-support li {
	margin-left: 1em;
}

.school-details li {
	line-height: 1.75em;
}

.school-details .fa {
	margin-right: 0.5em;
	color: #696767;
}
.school-details .fa-inverse {
	color: white;
}

.school-name {
	font-size: 40px;
	font-weight: bold;
	color: rgb(215, 45, 108);
	text-decoration: none;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

.school-name .icon {
	height: 65px;
	top: 12px;
	position: relative;
	margin-right: 5px;
}

/* End results */

#type-selector {
	height: 100%;
	width: 100%;
	margin: 5em auto;
	/* background: rgb(214, 214, 231); */
	text-align: center;
}
#type-selector h2 {
	margin-bottom: 1em;
}

.block-address, .block-support {
	display: none;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
#soflow, .styled-select {
   -webkit-appearance: button;
   -moz-appearance: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -moz-padding-end: 20px;
   -webkit-padding-start: 2px;
   -moz-padding-start: 2px;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px 0;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}


.nearby-schools-control-toggle label {
	margin-right: 3.75em;
	padding-left: 0.25em;
	width: 142px;
}
.nearby-schools-control {
	background-color: #f8f8f8;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 1em;
	margin: 1em;
}
.nearby-schools-control .close {
    width: 100%;
    font-weight: bold;
    color: black;
    background: white;
    background: rgba(152, 110, 110, 0);
    border-top: 1px solid rgb(146, 146, 146);
    padding-top: 0.25em;
}
.nearby-schools-control button.toggle-filters {
	background: none;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 15px;
	color: rgb(90, 90, 90);
	width: 2em;
	height: 2em;
}
.nearby-schools-control button.toggle-filters:hover,
.nearby-schools-control button.toggle-filters:focus {
    background: rgb(57, 172, 201);
    color: white;
}
.nearby-schools-control button.toggle-filters:focus {
    outline: none;
    /* box-shadow for circular outline halo effect */
    box-shadow: 0 0 1px 1px white, 0 0 1px 2px rgb(91, 157, 217);
    border: 1px solid black;
}

.nearby-schools-control h1 {
	font-size: 14px;
	margin: 0;
}
.nearby-schools-control .school-filters label {
    font-weight: normal;
}
.nearby-schools-control label[for=nearby-schools-type] {
	display: none;
}
#nearby-schools-type {
	width: 210px;
	margin: 0.5em 0 1em;
}

.nearby-schools-filter-explanation {
	font-style: italic;
	max-width: 16em;
	margin-bottom: 0.5em;
	margin-left: 10px;
}
.nearby-schools-filter-explanation:empty {
	margin: 0;
}

.nearby-schools-options {
	margin-top: 0.5em;
}
.nearby-schools-feature legend,
.nearby-schools-options legend {
    border-bottom: none;
    margin-bottom: 0.5em;
    font-size: 14px;
}
.nearby-schools-feature label,
.nearby-schools-options label {
    font-weight: normal;
}

.nearby-schools-control input {
    margin: 0 3px 0.25em 0;
}

/* input#nearby-girls */
#nearby-girls {
	margin-left:1em;
}


/* Provide for narrow nav + content sections  */
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.header, .jumbotron, .footer, .school-info {
		max-width: 730px;
		margin-right: auto;
		margin-left: auto;
	}
}
.container {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

.leaflet-popup-content-wrapper {
	background-color: #f8f8f8; /* fallback */
	/* give a little transparency so we don't totally hide other markers. */
	background-color: rgba(255, 255, 255, 0.9);
}

.block-intro .btn.school-level {
	margin-bottom: 0.5em; /* vertically separate buttons on narrow screens */
	width: 100%;
}
@media (min-width: 620px) { /* layout breaks below this point for two buttons side by side  */
	.block-intro .btn.school-level {
		width: 42%; /* Make school level buttons equal width */
	}

    .school-name-search {
        margin-right: 2em;
        margin-left: 2em;
    }
}

.school-level-definition {
	font-size: 0.7em;
}


.results-footer {
	display: none; /* hidden until we have results */
	margin: 50px auto;
	max-width: 730px;
	margin-top: 25px;
}

.results-footer-btn .fa {
	margin-right: 1em;
}

@media (min-width: 768px) {
	.results-footer-btn-column {
		padding-right: 0;
	}
}

.results-footer-btn {
	display: block;
	padding: 2em;
	border: 1px solid #64bcd2; /* fallback */
	border: 1px solid rgba(255, 255, 255, 0.19);
	background-color: transparent;
	width: 100%;
}

.results-footer-btn:hover {
    border: 1px solid white;
    background-color: transparent;
 	text-decoration: none;
}
.results-footer-btn span {
	border-bottom: 1px dotted;
}
.results-footer-btn:hover span {
	border-bottom-style: solid;
}

.jumbotron #or {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	font-size: 21px;
}
.jumbotron p {
	font-size: 18px;
	margin-bottom: 1em;
}
.jumbotron .lead {
	margin-bottom: 1em;
	margin-top: 1em;
}
.jumbotron .disclaimer {
	margin-top: 24px;
	margin-bottom: 0;
}

.jumbotron .lesser-text {
	font-size: 16px;
	color: #3e3e3e;
}
.lesser-text a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
    padding: 0.25em;
}
.lesser-text a:hover {
	border-bottom-style: solid;
}
.lesser-text a:focus {
    outline: 1px dashed darkblue;
    text-decoration: underline;
    border: none;
}


@media only screen and (min-width: 980px) {
	.school-name {
		padding-left: 15px; /* to keep flush-left with column below */
	}
}

@media only screen and (max-width: 320px) {
	.sitename {
		font-size: 18px;
		padding-right: 0;
	}
	.org-logo img {
		height: 22px;
	}
}

@media only screen and (max-width: 767px) {

	.school-description .field-label { /* About */
		font-size: 20px;
	}
	#school-info-container .school-name {
		font-size: 30px;
	}
	#school-info-container .school-name .icon {
		height:  50px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { /* and (orientation : portrait) */
	.cartodb-map {
		height: 310px;
	}
	.nearby-schools-control {
	    max-height: 310px;
	    overflow: auto;
	    overflow-x:hidden;
	}
	#nearby-schools-type {
		margin-bottom: 0.25em;
	}
	.nearby-schools-feature legend, .nearby-schools-options legend {
		margin-bottom: 0;
	}
	.leaflet-top .leaflet-control {
	    margin-top: 5px;
	}
	.leaflet-left .leaflet-control {
	    margin-left: 5px;
	}
	.leaflet-right .leaflet-control {
	    margin-right: 5px;
	}
}

/* When we programmatically set focus on things,
   the thing should be the container of a focusable item,
   so we don't actually want users to know we've focused on it.
   This is just so we can focus on newly added target containers
   in the app -- the tabbing equivalent of scrolling to the element
   (because when we scroll down, the next tab element naturally might
   still be above the elements newly in view).

   This should be low enough specificity that it doesn't accidently
   disable an outline on things we really want to be outlined.
*/
[tabindex="-1"] {
    outline: none;
}

/* prevent iphone from autozooming on form fields */
/* http://stackoverflow.com/a/9039885/1024811
   http://stackoverflow.com/a/16255670/1024811 */
.ios select:focus,
.ios textarea:focus,
.ios input:focus {
	font-size: 16px;
}
